@use "@styles/abstracts" as *;

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1.5rem;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & select {
    padding: 0.5rem;
    border: 2px solid $outline;
    border-radius: $borderRadius;
    font-size: 1rem;
    color: $text;
    appearance: none;
    background: transparent;
  }
}

.jobs {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  & > * {
    animation-name: animateIn;
    animation-duration: 350ms;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    @for $i from 1 through 50 {
      &:nth-child(#{$i}) {
        animation-delay: 100ms * $i;
      }
    }
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
