@use "@styles/abstracts" as *;

.wrapper {
  flex-grow: 1;
  @include section;

  transform: scale(1);
  transition: box-shadow 100ms ease-in-out, transform 100ms ease-in-out;

  &:hover,
  &:focus-visible {
    outline: transparent;
    box-shadow: 0 0 0.5em 0px $text;
    transform: scale(1.01);
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 3em;
}

.info {
  text-transform: capitalize;
}

.pets {
  margin-top: 1.7em;
  display: flex;
  flex-direction: column;
}

.pet {
  @include avatar(3em);
  margin-top: -2em;
}
