@use "@styles/abstracts" as *;
$size: 6rem;

.main {
  @include section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.icons {
  display: grid;
  grid-template-columns: 1fr $size 1fr;

  margin-top: -4rem;
}

.avatar {
  @include avatar($size);
}
