$text: #bfbfbf;
$textDark: #a1a1a1;

$primary: #0d0d0d;

$secondary: #262626;

$tertiary: #404040;

$accent: #bf8d50;

$borderRadius: 0.5rem;
$outline: rgba($text, 0.4);

$success: #00b300;
$error: #c68f8f;
