@use "@styles/abstracts" as *;

.button {
  background-color: $text;
  color: $primary;
  border: none;
  border-radius: $borderRadius;
  padding: 0.5rem 1rem;
  cursor: pointer;

  transform: scale(1);
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus-visible {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    transform: scale(1);
    background-color: rgba($text, 0.5);
    cursor: not-allowed;
  }
}
