@use "@styles/abstracts" as *;

.button {
  @include section;
  background-color: transparent;
  color: $text;
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
  background-color: rgba($text, 0.4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
