@use "@styles/abstracts" as *;

.main {
  border-collapse: collapse;

  & th {
    text-align: start;
  }

  & tr {
    border-bottom: 1px solid $outline;
  }

  & td {
    padding: 0.5rem 0.5rem;
  }
}
