@use "@styles/abstracts" as *;

.main {
  flex-grow: 999;

  & p {
    max-width: 70ch;
  }

  & h2 {
    @include header2;
  }
}

.title {
  @include header1;
  padding-left: 0.5em;
  padding-bottom: 0.1em;
}

.content {
  @include section;

  display: flex;
  flex-direction: column;
  gap: 1em;
}
