@use "@styles/abstracts" as *;

.main {
  @include noselect;
  font-size: clamp(1rem, 3vw, 1.4rem);

  padding-top: 0.5em;
  padding-inline: 1.2em;

  width: 100%;

  position: sticky;
  z-index: $z-sticky;
  top: 0;

  background-color: transparent;
  transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;

  &[data-is_scrolled="true"] {
    background-color: $primary;
    box-shadow: 0 0 0.2em 0.6em $primary;
  }
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;

  height: 100%;

  & * {
    display: block;
  }
}

.button,
.avatar {
  // Alignment
  display: flex;
  justify-content: center;
  align-items: center;

  // Font
  padding-block: 0.2em;
  font-size: 1em;

  font-weight: 300;
  text-align: center;
}

.spacer {
  width: 100%;
}

.button {
  transition: transform 100ms ease-in-out;
  transform: scale(1);

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1);
  }
}

.avatar {
  & > a {
    $size: 1.8em;
    position: relative;
    width: $size;
    height: $size;

    border-radius: 100vmin;
    overflow: hidden;
  }
}
